.riverSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.riverBody {
  opacity: 1;
}

.riverGlow {
  opacity: 0.5;
}

.riverFill {
  opacity: 1;
}

.riverShimmer {
  opacity: 0.5;
  animation: shimmer 8s ease-in-out infinite;
}

@keyframes shimmer {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
}

.flowLines {
  opacity: 0.6;
}

.flowLine {
  stroke-linecap: round;
  animation: flow 4s linear infinite;
}

.flowLine:nth-child(1) {
  animation-delay: 0s;
}

.flowLine:nth-child(2) {
  animation-delay: -1.3s;
}

.flowLine:nth-child(3) {
  animation-delay: -2.6s;
}

@keyframes flow {
  0% {
    stroke-dasharray: 20 80;
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dasharray: 20 80;
    stroke-dashoffset: 0;
  }
}

.riverEdge {
  opacity: 0.6;
}
