.roadSvg {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.roadPath {
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}
